ru{
	color:red;
}
td{
	padding:10px;
}
body{
	background-color:#ADDD0B;
}

input{
	margin-top:2px;
	height:28px;
	border:1px solid #5E6E66;
	font-size:16px;
	padding:1px;
	width:100%;
}
.btn{
	height:28px;
	border:1px solid #5E6E66;
	font-size:16px;
	padding:1px;
	width:30%;
}